[safe]
	directory = /Volumes/4444-iivii
	directory = /Volumes/4444-iivii/ivi374forivi3ivi3/workspace
	directory = /Volumes/4444-iivii/ivi374forivi3ivi3
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	email = {{ .email }}
	name = {{ .name }}
[core]
	hooksPath = {{ .chezmoi.homeDir }}/.config/git/hooks
	excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore

# GitHub token from 1Password
# Using existing 1Password item: master-org-token-110525
[github]
	user = {{ .name }}
	token = {{ onepasswordRead "op://Personal/master-org-token-110525/token" }} # allow-secret
